#navbar-default-override {
  background-color: white;
  border-color: white;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

.nav-bar-item:hover {
  border-bottom: 2px solid gray;
}
.image-container {
  padding: .5%;
}

img {
  width: 100%;
}
